name: CI
on: [push,pull_request]
jobs:
  lint:
    name: Golangci-lint
    runs-on: ubuntu-18.04
    steps:
      - name: Set up Go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      #      - name: Intsall Golangci-lint
      #        run: curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b . v1.16.0
      #      - name: Lint
      #        run: ./golangci-lint run --fix
#      - name: Run Golangci-lint
#        uses: golangci/golangci-lint-action@v2
#        with:
#          version: v1.34.1
  test:
    name: Unit Testing
    runs-on: ubuntu-18.04
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Checkout
        uses: actions/checkout@v2
      - name: mod
        run: go mod tidy
      - name: Go Test
        run: go test -run "Test[^RPC]" ./...